/dts-v1/;

/ {
	model = "Broadcom CM (bcm93390v0sv)";
	compatible = "brcm,bcm93390v0sv",
		     "brcm,bcm3390v0",
		     "brcm,bcm3390",
		     "brcm,brcmcm", "brcm,brcmstb";
	subsystem = "rg";
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	interrupt-parent = <&gic>;

	identifier@0 {
                            /* chip id    mfg id     a/c pwr    don't park */
                chipid_reg = < 0x20404000 0x204e6120 0x03800080 0x20410068 >;
                chipid_msk = < 0xffffffff 0x0000f000 0x00000000 0x00000001 >;
                chipid_val = < 0x33900010 0x00005000 0x00000000 0x00000000 >;
			     /* VSV */
		boardid_msk = < 0xf0 >;
		boardid_val = < 0xc0 >;
	};
};

/include/ "rg.3390b0-bolt.dtsi"
/include/ "rg.3390-base.dtsi"
/include/ "rg.3390s0-sgmii.dtsi"
/include/ "rg.3390-ethwan.dtsi"
/include/ "rg.3390v0-bolt.dtsi"

/********************************************************************
 * any nodes that appear below are platform specific additions and
 * replacements.
 * The dtc will add or replace any properties in the nodes
 * below to the same nodes that appear in include files above.
 * If the property does not exist in the node above it will be added.
 * If the property does exist it will replace it.
 ********************************************************************/
&mbox {
	override-bmu-state;
};

&ethsw {
	led-map = <0x85>;
};

&sw_p7_phy {
	reg = <31>;
};

&unimac_mdio {
	ethwan_phy: phy@1 {
		/* B50212E B1 on VSV */
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&switch_mdio {
	rgmii1_phy: phy@1 {
		/* B50212E B1 on VSV */
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

/ {
	chosen {
		filename = "rg.3390v0-sv.dtb";
	};
};
