/dts-v1/;

/ {
	model = "Broadcom CM (bcm93390<b|s>0sv)";
	compatible = "brcm,bcm93390b0sv", "brcm,bcm93390s0sv",
		     "brcm,bcm3390b0", "brcm,bcm3390s0",
		     "brcm,bcm3390",
		     "brcm,brcmcm", "brcm,brcmstb";
	subsystem = "rg";
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	interrupt-parent = <&gic>;

	identifier@0 {
			    /* chip id    mfg id     a/c pwr    don't park */
		chipid_reg = < 0x20404000 0x204e6120 0x03800080 0x20410068 >;
		chipid_msk = < 0xffffffff 0x0000e000 0x00000000 0x00000001 >;
		chipid_val = < 0x33900010 0x0000c000 0x00000000 0x00000000 >;
			     /* SV   */
		boardid_msk = < 0xf0 >;
		boardid_val = < 0x10 >;
	};

	identifier@1 {
			    /* chip id    mfg id     a/c pwr    don't park */
		chipid_reg = < 0x20404000 0x204e6120 0x03800080 0x20410068 >;
		chipid_msk = < 0xffffffff 0x0000f000 0x00000000 0x00000001 >;
		chipid_val = < 0x33900010 0x00008000 0x00000000 0x00000000 >;
			     /* SV   */
		boardid_msk = < 0xf0 >;
		boardid_val = < 0x10 >;
	};

	identifier@2 {
			    /* chip id    mfg id     a/c pwr    don't park */
		chipid_reg = < 0x20404000 0x204e6120 0x03800080 0x20410068 >;
		chipid_msk = < 0xffffffff 0x0000e000 0x00000000 0x00000001 >;
		chipid_val = < 0x33900010 0x00006000 0x00000000 0x00000000 >;
			     /* SV   */
		boardid_msk = < 0xf0 >;
		boardid_val = < 0x10 >;
	};
};

/include/ "rg.3390b0-bolt.dtsi"
/include/ "rg.3390-base.dtsi"
/include/ "rg.3390b0-moca.dtsi"
/include/ "rg.3390-wifi.dtsi"
/include/ "rg.3390-ethwan.dtsi"

/********************************************************************
 * any nodes that appear below are platform specific additions and
 * replacements.
 * The dtc will add or replace any properties in the nodes
 * below to the same nodes that appear in include files above.
 * If the property does not exist in the node above it will be added.
 * If the property does exist it will replace it.
 ********************************************************************/
&mbox {
	override-bmu-state;
};

&unimac_mdio {
	ethwan_phy: phy@1 {
		/* BCM54610 C1 on SV */
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&switch_mdio {
	rgmii1_phy: phy@7 {
		/* BCM54810 C0 on SV */
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <7>;
	};
};

&vreg_wl0 {
	gpio = <&upg_gpio 80 0>;
};

&vreg_wl1_rf {
	gpio = <&upg_gpio 79 0>;
};

&vreg_wl0 {
	gpio = <&upg_gpio 80 0>;
};

&vreg_wl1_rf {
	gpio = <&upg_gpio 79 0>;
};

&vreg_wl2 {
	gpio = <&upg_gpio 80 0>;
};

&vreg_wl2_rf {
	gpio = <&upg_gpio 79 0>;
};

/ {
	chosen {
		filename = "rg.3390b0-sv.dtb";
	};
};
